#application {
    display: flex;
    flex-direction: column;
}
textarea {
    display: flex;
    height: 100px;
    margin: 10px;
}

button {
    width: 100px;
    border: 1px solid gray;
    padding: 4px;
    font-weight: bold;
    margin-left: 10px;
}